button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: rgb(212, 212, 212);
    border: 2px solid rgb(89, 241, 83);
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(201, 101, 43);
    color: rgb(41, 41, 41);
}

.boton-clic{
    background-color: blue;
}

.boton-reiniciar {
    background-color: blueviolet;
}