.contador {
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: azure;
    background-color: rgb(78, 78, 78);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid rgb(37, 37, 37);
    margin-bottom: 15px;
}